body, html {
    /** Pour ne pas qu'il y est des espaces blancs sur les côtés **/
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }



.homepage{
    /** Design de la page d'acceuil ***/
    background-image: url('img/space.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

/** Pour ne pas qu'il y ai des espaces blancs entre les différentes div **/
.homepage, .about {
    margin: 0;
}
/** Pour ne pas qu'il y ai des espaces blancs entre les différentes div **/
.homepage h1, .homepage h2, .about h1, .about h2, .parcours h1, 
.parcours h2, .toggle-btn {
    margin: 0;
}
  
/** Design de h1 et de h2 **/
.homepage h1{
    text-align: center;
    padding-top: 30%; /** pour mieux centrer le texte**/
    font-size: 52px;
    font-family: monospace;
    margin-bottom: 48px;
}
.homepage h2{
    text-align: center;
    font-family: monospace;
    font-style: italic;
    font-size: 24px;
    margin-top: -32px; /** pour rapprocher le h2 au h1 **/
    height: 40vh;
}

/** design de la rubrique "A propos" **/
.about{
    background-color: #1D1D1D;
    padding-top: 20px;
    padding: 10px 20px;
    width: 100%;
}

.about h1.aboutme {
    color: #FFFFFF;
    font-style: italic;
    padding-top: 10px;
}

/** design des textes à propos et compétences **/
.about h2 {
    color: #FFFFFF;
    padding-top: 18px;
    padding-right: 36px;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 20px;
}

/** Pour changer le design de la premières lettres des 2 textes **/
.about h2::first-letter{
    font-size: 42px;
}

.about h1.competences {
    padding-top: 40px;
    color: #FFFFFF;
    font-style: italic;
}

.parcours {
    background-color: #87CEEB;
    padding-top: 20px;
    padding: 10px 20px;
    width: 100%;
}

.parcours h1{
    font-style: italic;
    padding-top: 10px;
    width: 100%;
}

.parcours h2{
    color: #000000;
    padding-top: 18px;
    padding-right: 36px;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 20px;
}

.parcours h2::first-letter{
    font-size: 42px;
}


/** Design de la navbar responsive **/

.navbar {
    display: flex;
    align-items: center;
    background-color: #000000;
    width: 100%;
    position: fixed; /* On fixe la navbar pour ne pas qu'elle bouge lorsque qu'on scroll **/
}
.navbar .toggle-btn {
    position: fixed; /* On fixe aussi le bouton */
    top: 20px; 
    left: 20px; 
    background-color: #000000;
    padding: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.navbar .toggle-btn:hover{
    background-color: #F2F2F2F2;
}

.navbar .toggle-btn:hover span{
    background-color: #000000;
}
  
.navbar .toggle-btn span {
    display: block;
    width: auto;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

  
.navbar .navbar-links {
    display: none;
}
  
.navbar.collapsed .navbar-links {
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin: 10px 0;
    margin-left: 60px;
}
.navbar.collapsed .navbar-links a{
    text-decoration: none;
    font-size: 22px;
    font-style: bold;
    color: #FFFFFF;
    margin-left:36px;
    margin-bottom: 8px;
    transition: transform 0.3s ease; /** pour créeer un effet de zoom **/
}

.navbar.collapsed .navbar-links a:hover{
    color: #F2F2F2F2;
    transform: scale(1.1); /** pour créer l'effet de zoom lorsque que le curseur passe sur un élément de la navbar **/
}
  
.navbar.collapsed .toggle-btn span {
    background-color: #FFFFFF;
}

.projets h1{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}

/* Design des blocs pour afficher mes projets */
.bloc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.bloc {
    width: 200px;
    height: 200px;
    background-color: #003b59;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}
  
.bloc a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease; /** pour créeer un effet de zoom **/
}

.bloc a:hover{
    transform: scale(1.1); /** pour créer l'effet de zoom lorsque que le curseur passe sur un élément de la navbar **/
}

.contact{
    background-color: #003b59;
    padding-top: 20px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
}

.contact h1{
    text-align: center;
    color: #FFFFFF;
    font-style: italic;
}

label{
    color: #FFFFFF;
}

input[id="name"],
  textarea {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px 0;
  }

input[id="name2"],
textarea {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px 0;
    margin-left: 40px;
  }

  input[type="submit"] {
    background-color: #1D1D1D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #282828;
  }

/** Responsive Design pour les tablettes **/
@media only screen and (min-width:760px){
    .homepage h2{
        margin-left: 30%;
        font-size: 32px;
    }
    .homepage h1{
        font-size: 72px;
    }

    .navbar .toggle-btn{
        width: 60px;
        height: 60px;
    }
    .navbar .toggle-btn span{
        width: auto;
    }
    .navbar.navbar.collapsed .navbar-links a{
        font-size: 26px;
        margin-left: 42px;
    }
    .bloc {
        width: 280px;
        height: 280px;
    }
    .bloc a{
        font-size: 24px;
    }
    .projets h1{
        font-size: 38px;
    }
    .about h1{
        font-size: 38px;
    }
    .parcours h1{
        font-size: 38px;
    }
}

/** Responsive design pour les grands écrans **/
@media only screen and (min-width:1200px){
    
    .navbar .toggle-btn {
        display: none;
    }

    .navbar .navbar-links {
        display: flex;
        justify-content: center;
        position: fixed;
        overflow: hidden;
        text-align: center;
        background-color: #000000;
        width: 100%;
        padding: 28px;
    }
    
    .navbar .navbar-links a{
        color: #003b59;
        text-align: center;
        text-decoration: none;
        font-size: 34px;
        margin: 10px 24px;
        padding-top: 92px;
        font-weight: bold;
        transition: transform 0.3s ease; /** pour créeer un effet de zoom **/
    }
    /** Permet de mettre en surbrillance la rubrique de la navbar dans laquelle on se trouve **/
    .navbar a.active {
        color: #FFFFFF;
    }
    .navbar a:hover{
        color: #FFFFFF;
        transform: scale(1.1); /** pour créer l'effet de zoom lorsque que le curseur passe sur un élément de la navbar **/
    }


    .homepage h2{
        margin-left: 40%;
    }
    .about .aboutme{
        display: flex;
        justify-content: left;
        width: 60%;
    }
    .about h1{
        font-size: 42px;
    }
    
    .about .competences{
        display: flex;
        width: 60%;
        margin-top: 20px;
        margin-left: 35%;
        margin-bottom: 20px;
    }

    .about h2::first-letter{
        font-size: 52px;
    }
    .about h2{
        font-size: 20px;
    }
    .parcours h1{
        font-size: 42px;
    }
    .parcours h1, h2{
        display: flex;
        justify-content: left;
        width: 50%;
    }
    .parcours h2{
        font-size: 20px;
    }
    .projets h1{
        font-size: 42px;
    }
    .bloc {
        width: 320px;
        height: 320px;
        margin: 20px 40px;
    }
    .bloc a{
        font-size: 28px;
    }
}