h1{
    text-align: center;
    padding-top: 20%;
}
h2{
    text-align: center;
}
.navbar{
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #2272FF;
}

.navbar a{
    float: left;
    display: block;
    color: #1D1D1D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.navbar a:hover{
    color: #FFFFFF;
    transform: scale(1.1);
}
