body, html {
    /** Pour ne pas qu'il y est des espaces blancs sur les côtés **/
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }



.homepage{
    /** Design de la page d'acceuil ***/
    background-image: url('img/space.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

/** Pour ne pas qu'il y ai des espaces blancs entre les différentes div **/
.homepage, .about {
    margin: 0;
}
/** Pour ne pas qu'il y ai des espaces blancs entre les différentes div **/
.homepage h1, .homepage h2, .about h1, .about h2, .parcours h1, 
.parcours h2 {
    margin: 0;
}
  
/** Design de h1 et de h2 **/
.homepage h1{
    text-align: center;
    padding-top: 30%; /** pour mieux centrer le texte**/
    font-size: 52px;
    font-family: monospace;
    margin-bottom: 48px;
}
.homepage h2{
    text-align: center;
    font-family: monospace;
    font-style: italic;
    font-size: 24px;
    margin-top: -32px; /** pour rapprocher le h2 au h1 **/
    height: 40vh;
}

/** design de la rubrique "A propos" **/
.about{
    background-color: #1D1D1D;
    padding-top: 20px;
    padding: 10px 20px;
    width: 100%;
}

.about h1.aboutme {
    color: #FFFFFF;
    font-style: italic;
    padding-top: 10px;
}

/** design des textes à propos et compétences **/
.about h2 {
    color: #FFFFFF;
    padding-top: 18px;
    padding-right: 36px;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 20px;
}

/** Pour changer le design de la premières lettres des 2 textes **/
.about h2::first-letter{
    font-size: 42px;
}

.about h1.competences {
    padding-top: 40px;
    color: #FFFFFF;
    font-style: italic;
}

.parcours {
    background-color: #87CEEB;
    padding-top: 20px;
    padding: 10px 20px;
    width: 100%;
}

.parcours h1{
    font-style: italic;
    padding-top: 10px;
    width: 100%;
}

.parcours h2{
    color: #000000;
    padding-top: 18px;
    padding-right: 36px;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 20px;
}

.parcours h2::first-letter{
    font-size: 42px;
}


/** Design de la navbar **/
.navbar{
    overflow: hidden;
    text-align: center;
    background-color: #1D1D1D;
    width: auto;
    padding: 28px;
}

.navbar a{
    color: #003b59;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px;
    transition: transform 0.3s ease; /** pour créeer un effet de zoom **/
    
}

/** Permet de mettre en surbrillance la rubrique de la navbar dans laquelle on se trouve **/
.navbar a.active {
    color: #FFFFFF;
}

.navbar a:hover{
    color: #FFFFFF;
    transform: scale(1.1); /** pour créer l'effet de zoom lorsque que le curseur passe sur un élément de la navbar **/
}


/** Responsive Design pour les tablettes **/
@media only screen and (min-width:760px){
    .navbar{
        display: flex;
        justify-content:center;
        position: fixed;
        width: 100%;
    }
    .navbar a{
        font-size: 28px;
        margin: 0 24px;
        padding: 4px;
    }
    .homepage h2{
        margin-left: 30%;
        font-size: 32px;
    }
    .homepage h1{
        font-size: 72px;
    }
}

/** Responsive design pour les grands écrans **/
@media only screen and (min-width:1200px){
    .navbar a{
        font-size: 32px;
        margin: 0 24px;
        padding: 4px;
    }

    .homepage h2{
        margin-left: 40%;
    }
    .about .aboutme{
        display: flex;
        justify-content: left;
        width: 60%;
    }
    
    .about .competences{
        display: flex;
        width: 60%;
        margin-top: 20px;
        margin-left: 35%;
        margin-bottom: 20px;
    }

    .about h2::first-letter{
        font-size: 52px;
    }
    .about h2{
        font-size: 20px;
    }
    .parcours h1, h2{
        display: flex;
        justify-content: left;
        width: 50%;
    }
    .parcours h2{
        font-size: 20px;
    }
}