.footer{
    background-color: #000000;
    padding-top: 20px;
}

.footer-container{
    text-align: center;
}
.footer-links{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-links li {
    margin : 20px 10px
}
.footer-links li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
}
.footer-links li a:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: #003b59;
}
.footer h2{
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 0 0 10px 10px;
}

/** Responsive Design pour les tablettes **/
@media only screen and (min-width:760px){

    .footer-links li a{
        font-size: 38px;
    }
    .footer-links li {
        margin : 30px 20px
    }
    .footer h2{
        font-size: 16px;
    }
}

/** Responsive design pour les grands écrans **/
@media only screen and (min-width:1200px){
    
    .footer-links li a{
        font-size: 52px;
    }
    .footer-links li {
        margin : 40px 30px
    }
    .footer h2{
        font-size: 18px;
    }
}