@import '_reset.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'homepage.css';
@import 'navbar.css';
@import 'about.css';
@import 'parcours.css';
@import 'projets.css';
@import 'contact.css';
@import 'footer.css';
@import 'projetApprentissageCalcul.css';
@import 'projetCimetiere.css';
@import 'siteWebPHP.css';


@font-face {
    font-family: "TuskerGrotesk";
    src: url(../fonts/TuskerGrotesk/TuskerGrotesk-3500Medium.ttf);
    font-weight: normal;
    font-style: normal
}
 @font-face {
    font-family: "TuskerGrotesk";
    src: url(../fonts/TuskerGrotesk/TuskerGrotesk-1700Bold.otf);
    font-weight: bold;
    font-style: normal;
 }
@font-face {
    font-family: "Source";
    src: url(../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf);
    font-weight: bold;
    font-style: normal;
}


body, html {
    /** To avoid that there are white spaces on the sides **/
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url('../public/image/background/blue-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
}

@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
}



