@import '_reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'homepage.css';
@import 'navbar.css';
@import 'about.css';
@import 'parcours.css';
@import 'projets.css';
@import 'contact.css';
@import 'footer.css';

body, html {
    /** To avoid that there are white spaces on the sides **/
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/** So that there are no white spaces between the different divs **/
.margin { 
    margin:0;
} 

