@import '_reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'homepage.css';
@import 'navbar.css';
@import 'about.css';
@import 'parcours.css';
@import 'projets.css';
@import 'contact.css';
@import 'footer.css';

body, html {
    /** Pour ne pas qu'il y est des espaces blancs sur les côtés **/
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/** Pour ne pas qu'il y ai des espaces blancs entre les différentes div **/
.margin { 
    margin:0;
} 

