.homepageH1 {
    font-size: 40px;
}


  
#homepage h1{
    text-align: center;
    padding-top: 30%; /** For the text to be center**/
    font-size: 89px;
    font-family: "TuskerGrotesk", sans-serif;
    margin-bottom: 48px;
    animation: blur 10s ease-out infinite;
	-webkit-animation: blur 10s ease-out infinite;
    animation-iteration-count: 1; /* So that the animation is not repeated */
}
#homepage h2{
    text-align: center;
    font-family: "TuskerGrotesk", sans-serif;
    font-style: italic;
    font-size: 30px;
    margin-top: -32px; /** to bring h2 closer to h1 **/
    height: 40vh;
    animation: blur 10s ease-out infinite;
	-webkit-animation: blur 10s ease-out infinite;
    animation-iteration-count: 1;
}

/* Responsive desgin for tablet */
@media only screen and (min-width:760px){
    #homepage h2{
        margin-left: 30%;
        font-size: 38px;
    }
    #homepage h1{
        font-size: 120px;
    }
}
/** Responsive design for large screens **/
@media only screen and (min-width:1200px){
  #homepage h2{
    /* For the h2 text to be more on the right */
    margin-left: 48%;
    font-size: 46px;
  }
  #homepage h1{
    font-size: 144px;
  }
}