.homepageH1 {
    font-size: 40px;
}

#homepage{
    /** Design for the homepage ***/
    background-image: url('../public/image/background/blue-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

  
#homepage h1{
    text-align: center;
    padding-top: 30%; /** For the text to be center**/
    font-size: 52px;
    font-family: monospace;
    margin-bottom: 48px;
}
#homepage h2{
    text-align: center;
    font-family: monospace;
    font-style: italic;
    font-size: 24px;
    margin-top: -32px; /** to bring h2 closer to h1 **/
    height: 40vh;
}

/* Responsive desgin for tablet */
@media only screen and (min-width:760px){
    #homepage h2{
        margin-left: 30%;
        font-size: 32px;
    }
    #homepage h1{
        font-size: 72px;
    }
}
/** Responsive design for large screens **/
@media only screen and (min-width:1200px){
  #homepage h2{
    /* For the h2 text to be more on the right */
    margin-left: 40%;
  }
}