/* Design of the navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 9999; /* For the navbar to pass over everything */
}

/* Design of the navbar button */
.navbar .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #000000;
    padding: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
  
/* Design of the navbar button when the mouss pass over */
.navbar .toggle-btn:hover {
    background-color: #282828;
}

/* Design of the navbar button span */
.navbar .toggle-btn span {
    display: block;
    width: auto;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
}
  
/* Design of the section */
.navbar .navbar-links {
    display: none;
  }

/* Design of the navbar section when the navbar is open */
.navbar.open .navbar-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
    margin-left: 60px;
}
  
/* Design of the navba text when the navbar is open */
.navbar.open .navbar-links a {
    text-decoration: none;
    font-size: 22px;
    font-style: bold;
    font-family: "Source", sans-serif;
    color: #ffffff;
    margin-left: 36px;
    margin-bottom: 8px;
    transition: transform 0.3s ease;
}
  
/* Animation when the mouse is over the text (a zoom) */
.navbar.open .navbar-links a:hover {
    color: #f2f2f2f2;
    transform: scale(1.1);
}

/* Color of the span when the navbar is open */
.navbar.open .toggle-btn span {
    background-color: #ffffff;
}


/** Responsive Design for tablet **/
@media only screen and (min-width:760px){
    .navbar .toggle-btn{
        width: 60px;
        height: 60px;
    }
    .navbar .toggle-btn span{
        width: auto;
    }
    .navbar.navbar.open .navbar-links a{
        font-size: 26px;
        margin-left: 42px;
        font-family: "Source", sans-serif;
    }
}

/** Responsive design for large screen **/
@media only screen and (min-width:1200px){

    /* We remove the button */
    .navbar .toggle-btn {
        display: none;
    }

    /* The new design of the navbar for large screen */
    .navbar .navbar-links {
        display: flex;
        justify-content: center;
        position: fixed;
        overflow: hidden;
        text-align: center;
        background-color: #000000;
        width: 100%;
        padding: 28px;
    }
    
    .navbar .navbar-links a{
        color: #5293b9;
        text-align: center;
        text-decoration: none;
        font-size: 38px;
        margin: 10px 24px;
        padding-top: 92px;
        font-weight: bold;
        transition: transform 0.3s ease; /** pour créeer un effet de zoom **/
        font-family: "Source", sans-serif;
    }
    /** Allows you to highlight the section of the navigation bar in which you are **/
    .navbar .navbar-links a.active {
        color: #FFFFFF;
    }
    .navbar a:hover{
        color: #FFFFFF;
        transform: scale(1.1); /** to create the zoom effect when the cursor hovers over a navbar item **/
    }
}

