.OcsGLPI-h1{
    text-align: center;
    padding-top: 30%; /** For the text to be center**/
    font-size: 89px;
    font-family: "TuskerGrotesk", sans-serif;
    margin-bottom: 48px;
}

.OcsGLPI-h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 300px;
    margin-right: 12px;
    margin-left: 12px;
    font-family: "TuskerGrotesk", sans-serif;
}

.OcsGLPI .content h1{
    font-size: 40px;
    font-family: "TuskerGrotesk", sans-serif;
    margin-top: 60px;
    text-align: center;
}
.OcsGLPI .content h2{
    text-align: center;
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;
}
.OcsGLPI ul{
    margin-bottom: 48px;
}
.OcsGLPI ul li{
    font-size: 18px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}
.OcsGLPI .content .besoin ul li{
    font-weight: bold;
}
.salles{
    background-color:#081c34 ;
    padding-bottom: 20px;
}
.salles h1, .salles h2{
    color: #FFFFFF;
}
.salles h1{
    padding-top: 20px;
}
.droits{
    background-color:#081c34 ;
    padding-bottom: 20px;
}
.droits h1, .droits ul li{
    color: #FFFFFF;
}
.droits h1{
    padding-top: 20px;
}
.img-container{
    display: flex;
    justify-content: center; /* Pour aligner les images à gauche et à droite */
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 40px;
    gap: 20px;
}

@media only screen and (min-width:760px){

    .OcsGLPI-h1{
        font-size: 120px;
    }

    .OcsGLPI-h2{
        font-size: 60px;
        margin-bottom: 300px;
    }
    .OcsGLPI .content h1{
        font-size: 60px;
        margin-bottom: 12px;
    }
    .OcsGLPI .content h2{
        font-size: 24px;
    }
    .OcsGLPI ul li{
        font-size: 24px;
    }
    .img-container {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media only screen and (min-width:1200px){
    .OcsGLPI-h1{
        font-size: 144px;
    }

    .OcsGLPI-h2{
        font-size:  80px;
        text-align: center; /* Centrer le texte */
        display: block; /* Assurer que l'élément est un bloc */
        margin: 0 auto;
        margin-bottom: 300px;
    }
    .OcsGLPI .content h1{
        font-size:80px;
        margin-top: 200px;
    }
    .OcsGLPI .content h2{
        font-size: 28px;
        text-align: center;
        display: block; /* Assurer que l'élément est un bloc */
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .OcsGLPI ul{
        margin-bottom: 48px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .OcsGLPI ul li{
        font-size: 28px;
    }
    .img-container {
        margin-left: 250px;
        margin-right: 250px;
    }
}